<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <!--<add name="btposdb" connectionString="Data Source=localhost;Initial Catalog=Paysmart;integrated security=sspi;" />-->
    <add name="btposdb" connectionString="Data Source=localhost;Initial Catalog=posdashboard;integrated security=sspi;" />
    <!--<add name="btposdb" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\NBKZS31_srujan\Others\POSDashboard\BTPOSDashboard\App_Data\POSDashboard.mdf;Integrated Security=True" />-->
  </connectionStrings>
 <appSettings>
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger"/>
    <add key="emailserver" value="smtp.gmail.com"></add>
    <add key="username" value="webingateteam@gmail.com"></add>
    <add key="password" value="webingate123456"></add>    
    <add key="fromaddress" value="webingateteam@gmail.com"></add>
    <add key="port" value="587"></add>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="102400" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>